{% extends 'app.html.twig' %}

{% block title %}{{ 'title.login'|trans }}{% endblock %}

{% block main %}
    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}
    <h1><i class="fa fa-lock"></i> {{ 'title.login'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password) }}

    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
    <button type="submit" class="btn btn-primary">Login</button>
    {{ form_end(form) }}
    {{ form_end(form) }}
{% endblock %}
